// ========================================= //
//			Colors Used in Landing Page
// ========================================= //

$white:				#FFFFFF;
$tundora:			#212529;
$Alabaster:	        #f9f9f9;
$seashell:			#F1F0F0;
$Gallery:           #eceaea;
$dove-gray:			#666666;
$alto:				#dddddd;
$mine-shaft:		#202020;
$shaft:				#2b2b2b;
$mercury:			#e1e1e1;
$hint-of-red:		#FAF8F8;
$black:				#000000;
$big-stone:			#161C35;
$cod-gray:			#1A1A1A;
$black-haze:		#F4F6F6;
$blackish:		    #212529;