/* ============================= */
/*          Blog Single          */
/* ============================= */

#blog_banner {
    padding: 75px 0 0;
    position: relative;
    .bread_crumbs {
        line-height: 70px;
        .breadcrumb {
            background-color: transparent;
            border-radius: 0;
            margin-bottom: 0;
            padding: 0 !important;
            li {
                padding-right: 0;
                padding-left: 0;
                line-height: 45px;
                &:before {
                    content: '/    ';
                    color: $white;
                    position: initial;
                    background: transparent;
                }
                &:after {
                    display: none;
                }
                &:first-child {
                    &:before {
                        display: none
                    }
                }
                a {
                    color: $white;
                    text-decoration: none;
                    font-weight: bold;
                    font-size: 12px;
                    &:hover {
                        color: $white !important;
                    }
                }
            }
            .active {
                font-size: 14px;
                color: $white;
            }
        }
    }
}

#blog_main_sec {
    padding-top: 100px;
    .post_img {
        margin-bottom: 30px;
        img {
            width: 100%;
        }
    }
    .post_body {
      padding: 0 0 50px;
    }
    .post_title {
        h3 {
            font-weight: 500;
            margin-bottom: 10px;
        }
        ul {
            li {
                &:before,
                &:after {
                    display: none;
                }
                a {
                    text-decoration: none;
                }
            }
        }
    }
    .author_box {
        background: $hint-of-red;
        overflow: hidden;
        padding: 20px 20px 10px 20px;
        margin-bottom: 30px;
        .author_img {
            float: left;
            width: 22%;
            img {
                margin-bottom: 10px;
                width: 100%;
                border-radius: 50%;
            }
            ul li {
                display: inline-block;
                padding-left: 15px;
                margin-bottom: 0;
                &:before,
                &:after {
                    display: none;
                }
                a {
                    color: $tundora;
                    font-size: 17px;
                    &:hover {
                        color: $dove-gray;
                        transition: all 0.4s ease;
                    }
                }
            }
        }
        .author_bio {
            float: left;
            margin-left: 3%;
            width: 75%;
            h5 {
                margin-top: 0;
            }
        }
    }

    #comments {
        margin-top:60px;
        margin-bottom: 70px;
        .single-post_heading {
            font-size:20px;
            color:$tundora;
            text-transform:capitalize;
        }
        .comments-lists {
            &:before {
                display: none;
            }
            .comment {
                position: relative;
                list-style: none;
                padding-left: 118px;
                padding-top: 1px;
                min-height:100px;
                border-bottom: 1px solid $black-haze;
                margin-top:35px;
                @media only screen and (max-width: 991px) {
                    padding-left: 90px;
                }
                &:before,
                &:after, {
                    display: none;
                }
                &:last-child {
                    border-bottom: 0px;
                }
                .activity_rounded {
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    img  {
                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        -webkit-box-shadow: 6px 6px 11px 0 rgba(204, 204, 204, 0.61);
                        -moz-box-shadow: 6px 6px 11px 0 rgba(204, 204, 204, 0.61);
                        -o-box-shadow: 6px 6px 11px 0 rgba(204, 204, 204, 0.61);
                        -ms-box-shadow: 6px 6px 11px 0 rgba(204, 204, 204, 0.61);
                        box-shadow: 6px 6px 11px 0 rgba(204, 204, 204, 0.61);
                    }

                }
                h4 {
                    font-size:15px;
                    color: $tundora;
                    margin-top:3px;
                    text-transform: capitalize;
                }
                p {
                    font-size:14px;
                    color:#777777;
                    line-height:24px;
                }
                small.date-posted {
                    color: $dove-gray;
                    font-size:12px;
                    margin-left:12px;
                }
                .comment-body {
                    padding-bottom: 18px;
                    .reply {
                        padding: 0px 25px;
                        border: 1px solid $dove-gray;
                        color: $dove-gray;
                        font-size: 12px;
                        border-radius: 0 5px 0 5px;
                        margin-bottom: 10px;
                        display: inline-block;
                        &:hover {
                            background: $dove-gray;
                            color: $white;
                            transition: all 0.5s ease;
                        }
                    }
                }
                .children {
                    overflow:hidden;
                    list-style:none;
                    padding-left:0px;
                    list-style: none;
                    .comment {
                        position: relative;
                        border-top: 1px solid $black-haze;
                        border-bottom:0px;
                        margin-top:0px;
                        &:before {
                            display: none;
                        }
                        .activity_rounded {
                            margin-top: 25px;
                        }
                        .comment-body {
                            border:none !important;
                            margin-top:25px;
                        }
                    }
                }
            }
        }
        .leave_comment {
            h3 {
                font-size:20px;
                color:$tundora;
                text-transform:capitalize;
            }
            .form-group {
                .form-control {
                    height: 40px;
                }
                input[type="text"],
                input[type="email"] {
                    border: 1px solid $Gallery;
                    border-radius: 50px;
                    box-shadow: none;
                    font-size: 16px;
                    color: #1a1a1a;
                    padding: 10px 25px;
                    margin-bottom:20px;
                    &:hover,
                    &:focus {
                        border: 1px solid $tundora;
                    }
                }
            }
            textarea {
                resize: vertical;
                min-height: 180px;
                border: none;
                border: 1px solid $Gallery;
                border-radius: 8px;
                box-shadow: none;
                font-size: 16px;
                color: #1a1a1a;
                padding: 10px 25px;
                margin-bottom:20px;
                &:hover,
                &:focus {
                    border: 1px solid $tundora;
                }
            }
        }
    }
    .darker {
        aside {
            a {
                color: $mercury;
            }
            .widget {
                background-color: transparent;
                .search-form {
                    input[type=text] {
                        border-color: $dove-gray;
                    }
                }
            }
            .widget_tag_cloud {
                ul {
                    li {
                        a {
                            color: $tundora;
                            &:hover,
                            &:focus {
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
        .author_box {
            background: $mine-shaft;
        }
        #comments {
            .single-post_heading {
                color: $white;
            }
            .comments-lists {
                .comment {
                    h4 {
                        color: $mercury;
                    }
                }
            }
            .leave_comment {
                h3 {
                    color: $white;
                }
                .form-group input[type="text"],
                .form-group input[type="email"],
                textarea {
                    border-color: $tundora;
                    color: $white;
                }

            }
        }  
        .activity_rounded {
            img  {
                -webkit-box-shadow: 1px 1px 11px 0 rgba(0, 0, 0, 0.61) !important;
                -moz-box-shadow: 1px 1px 11px 0 rgba(0, 0, 0, 0.61) !important;
                -o-box-shadow: 1px 1px 11px 0 rgba(0, 0, 0, 0.61) !important;
                -ms-box-shadow: 1px 1px 11px 0 rgba(0, 0, 0, 0.61) !important;
                box-shadow: 1px 1px 11px 0 rgba(0, 0, 0, 0.61) !important;
            }

        }      
    }
}


aside {
    .widget {
        background-color:#fff;
        margin-bottom:50px;
        h3 {
            margin-bottom:30px;
        }
        ul {
            padding:0px;
            overflow:hidden;
            list-style:none;
            margin-bottom:0px;
            li {
                margin-bottom: 12px;
                font-size:16px;
                font-weight:400;
                padding-left: 0;
                &:before,
                &:after {
                    display: none;
                }
                span.categoryCount {
                    float:right;
                }
                a {
                    font-size:16px;
                    font-weight:400;
                    color:#444444;
                    text-decoration:none;
                }
            }
        }
        .search-form input[type=text] {
            border-bottom:1px solid $Gallery;
            width:100%;
            font-size: 20px;
            padding-left: 22px;
            padding-right: 40px;
            font-weight:300;
            background-image:url(../images/search-icon.png);
            background-repeat:no-repeat;
            background-position:right 17px center;
            background-position-x:98%;
            background-position-y:50%;
            &:focus {
                border-color: $dove-gray;
            }
        }
    }
    .widget_recent_entries {
        ul {
            overflow:hidden;
            li {
                position: relative;
                padding-left: 90px;
                float: left;
                &:before {
                    display: none;
                }
                h4 {
                    margin-bottom:3px;
                    line-height:16px;
                    margin-top: 0;
                    a {
                        color: $tundora;
                        line-height: 20px;
                        &:hover {
                            color: $dove-gray;
                            transition: all ease 0.4s;
                        }
                    }
                }
                span {
                    color:$dove-gray;
                    font-size:14px;
                }
                p {
                    color: $dove-gray;
                    font-size:14px;
                }
                img {
                    position: absolute;
                    top: 2px;
                    left: 0;
                    width: 79px;
                }
                a {
                    font-size:16px;
                    display:block;
                    text-decoration:none;
                }
            }
        }
    }
    .widget_tag_cloud {
        ul {
            overflow:hidden;
            li {
                display: inline-block;
                margin-right: 3px;
                margin-bottom: 4px;
                a {
                    background-color: $hint-of-red;
                    font-size:14px ;
                    text-transform: capitalize;
                    text-decoration:none;
                    color: $tundora;
                    padding:4px 12px;
                    font-weight:400;
                    border-radius:3px;
                    &:hover,
                    &:focus {
                        color: $white;
                        background: $tundora;
                    }
                }
            }
        }
    }
}
/* ================================= */
/*          End Blog Single          */
/* ================================= */