/* ====================== */
/*         Contact        */
/* ====================== */


#mt_contact {
    padding: 100px 0;
    @media only screen and (max-width: 640px) {
        padding: 60px 0;
    }
    h2 {
        @media only screen and (max-width: 640px) {
            margin-bottom: 30px;
        }
    }
    .contact_form {
        padding: 30px 25px;
        background: $white;
        -webkit-box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.2);
        -moz-box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.2);
        -o-box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.2);
        -ms-box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.2);
        box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.2);
        border-radius: 8px;
        @media only screen and (max-width: 990px) {
            margin-bottom: 50px;
        }
        @media only screen and (max-width: 480px) {
            padding: 20px 15px;
        }
        h3 {
            line-height: 35px;
            margin-bottom: 40px;
            margin-top:0;
            @media only screen and (max-width: 480px) {
                font-size: 18px;
                line-height: 27px;
                margin-bottom: 28px;
            }
        }
        textarea {
            resize: none !important;
            @media only screen and (max-width: 480px) {
                font-size: 16px;
            }
        }
        input[type="text"],
        input[type="email"] {
            @media only screen and (max-width: 480px) {
                font-size: 16px;
            }
        }
        #submit-btn {
            text-align: right;
            padding-left: 45px;
            padding-right: 45px;
            margin-top: 5px;
            position: relative;
            @media only screen and (max-width: 480px) {
                font-size: 15px;
                margin-top: 5px;
                padding: 10px 30px;
            }
        }
        .mt_load {
            display: none;
            position: absolute;
            top: 11px;
            right: -35px;
            margin-left: 14px;
            span {
                margin: 0 auto;
                position: relative;
                text-indent: -9999em;
                border-top: 2px solid rgba(0,0,0, 0.2);
                border-right: 2px solid rgba(0,0,0, 0.2);
                border-bottom: 2px solid rgba(0,0,0, 0.2);
                border-left: 2px solid #111;
                -webkit-transform: translateZ(0);
                -ms-transform: translateZ(0);
                transform: translateZ(0);
                -webkit-animation: load8 1.1s infinite linear;
                animation: load8 1.1s infinite linear;
                border-radius: 50%;
                width: 26px;
                height: 26px;
                display: inline-block;
            }
            &:after {
                border-radius: 50%;
                width: 26px;
                height: 26px;
            }
        }
        @-webkit-keyframes load8 {
          0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
          }
          100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
          }
        }
        @keyframes load8 {
          0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
          }
          100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
          }
        }
    }
    .contact_info {
        .contact_heading {
            span {
                color: #CDCDCD;
                font-size: 16px;
                margin-left: 30px;
                position: relative;
                display: block;
                &:before {
                    background: $tundora;
                    content: "";
                    height: 1px;
                    left: -38px;
                    position: absolute;
                    top: 11px;
                    width: 30px;
                }
            }
            h3 {
                margin-top: 0;
            }
        }
        .email_sec {
            .row {
                margin-bottom: 15px;
            }
            i {
                font-size: 30px;
            }
        }
        h5 {
            margin-bottom: 5px;
        }
        h2 {
            color: $tundora;
            margin-bottom: 10px;
        }
        p {
            color: $tundora;
            font-size: 14px;
            margin-bottom: 5px;
        }
        a{
            color: $tundora;
            text-decoration: none;
        }
    }
    .darker {
        .contact_info {
            h2,p,a,i {
                color: $white;
                margin-bottom: 10px;
            }
        }
        .contact_heading span:before {
          background: #fff;
        }
        .contact_form {
            background: $shaft;
        }
    }
}

/* =========================== */
/*         End Contact         */
/* =========================== */